@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(21, 21, 21);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Display {
  margin: 4em 0 3em 0;
}

.ControlledForm, .Display, .Header, h4 {
  color: white;
}

.ControlledForm, .Display, .Header, .Click {
  text-align: center;
}

.Question-button, .Answer-button, .Score-buttons, .Reset-button {
  border-radius: 20px;
  background-color: white;
  border: none;
}

.Header {
  font-family: "Press Start 2P";
}

.Score {
  padding: 0 0 2em 0;
  font-family: 'Courier New', Courier, monospace;
}

.Click {
    margin: 5em 0 1em 0
}

.Question-body {
    padding: 0 2em;
    font-family: 'Courier New', Courier, monospace;
}


.Answer-body {
    font-family:'Courier New', Courier, monospace;
}

.Question-button, .Answer-button, .Score-buttons, .Reset-button {
  font-family: "Press Start 2P";
  font-size: .5em;
  cursor: pointer;
}

.Question-button {
  padding: 1.2em;
  font-size: .6em;
  background-color: rgb(247, 247, 116);
}

.Answer-button {
  padding: 1em;
  margin: 4em 0 0 0;
  font-size: .4em;
}

.Score-buttons {
  padding: 1em;
  margin: .4em;
  width: 3em;
}

.Reset-button {
  padding: 1em;
  width: 7em;
  margin: .5em;
  font-size: .6em;
}
